<div class="uki-footer-credits">
    <div class="uki-ftr-collab-equation">
        <a class="uki-ftr-atr-link" href="/profile#oz"><img
                src="/assets/app/otrmrr/title/oz-the-operator-title.png" width="250px" height="auto"></a>
        <p>x</p>
        <a class="uki-ftr-atr-link" href="/profile#otto"><img
            src="/assets/app/otrmrr/title/title_oz-cc.svg" width="180px" height="auto"></a>
        <p>=</p>
        <a class="uki-ftr-atr-link" href="{{ site.baseurl }}/"><img
                src="/assets/app/otrmrr/title/oturtmurr-logo.jpg" width="150px" height="auto"></a>
    </div>
    <div class="uki-ftr-info">
        <p style="text-align: center;"><b>OTURTMURR:</b> the official website of OTURTMURR.</p>
    </div>
</div>