<nav class="nav-links">
    <ul>
        <li class="menuOption"><a href="/profile"><span class="jittery">ABOUT!</span></a></li>
        <li class="menuOption"><a href="/works"><span class="jittery">WORK.</span></a></li>
        <li class="menuOption"><a href="/contact"><span class="jittery">CONTACT?</span></a></li>
        <li class="menuOption"><div class="textSplashWIP"><span id="textSplash"></span></div><a href="/theatre"><span class="jittery">THEATRE</span></a></li>
        <li class="menuOption"><div class="textSplashWIP"><span id="textSplash"></span></div><a href="/jukebox"><span class="jittery">JUKEBOX</span></a></li>
        <li class="menuOption"><a href="/comic"><span class="jittery">BLOG</span></a></li>
    </ul>
</nav>