@font-face {
    font-family: "Anglican Text";
    src: url(/assets/fonts/AnglicanText.ttf) format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "Archer Pro Book";
    src: url(/assets/fonts/ArcherPro-Book.otf) format("opentype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "Archer Pro Book";
    src: url(/assets/fonts/ArcherPro-BookItalic.otf) format("opentype");
    font-style: italic;
    font-weight: normal;
}

@font-face {
    font-family: "Archer Pro Bold";
    src: url(/assets/fonts/ArcherPro-Bold.otf) format("opentype");
    font-style: normal;
    font-weight: bold;
}

@font-face {
    font-family: "Archer Pro Bold";
    src: url(/assets/fonts/ArcherPro-BoldItalic.otf) format("opentype");
    font-style: italic;
    font-weight: bold;
}

@font-face {
    font-family: "Archer Pro Medium";
    src: url(/assets/fonts/ArcherPro-Medium.otf) format("opentype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "Archer Pro Medium";
    src: url(/assets/fonts/ArcherPro-MediumItalic.otf) format("opentype");
    font-style: italic;
    font-weight: normal;
}

@font-face {
    font-family: "Creative Block Negative";
    src: url(/assets/fonts/CreativeBlockNegative-v3.ttf) format('truetype');
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "Comet Positive";
    src: url(/assets/fonts/COMEP__.TTF) format('truetype');
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "Comet Negative";
    src: url(/assets/fonts/COMEN__.TTF) format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "Futura Next Book";
    src: url(/assets/fonts/FuturaNext-Book.otf) format("opentype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "Futura Next Book";
    src: url(/assets/fonts/FuturaNext-BookOblique.otf) format("opentype");
    font-style: oblique;
    font-weight: normal;
}

@font-face {
    font-family: "Futura Next Bold";
    src: url(/assets/fonts/FuturaNext-Bold.otf) format("opentype");
    font-style: normal;
    font-weight: bold;
}

@font-face {
    font-family: "Futura Next Bold";
    src: url(/assets/fonts/FuturaNext-BoldOblique.otf) format("opentype");
    font-style: oblique;
    font-weight: bold;
}

@font-face {
    font-family: "Futura Next Extra Bold";
    src: url(/assets/fonts/FuturaNext-ExtraBold.otf) format("opentype");
    font-style: normal;
    font-weight: bold;
}

@font-face {
    font-family: "Futura Next Extra Bold";
    src: url(/assets/fonts/FuturaNext-ExtraBoldOblique.otf) format("opentype");
    font-style: oblique;
    font-weight: bold;
}

@font-face {
    font-family: "Futura Next Light";
    src: url(/assets/fonts/FuturaNext-Light.otf) format('opentype');
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "Futura Next Light";
    src: url(/assets/fonts/FuturaNext-LightOblique.otf) format('opentype');
    font-style: oblique;
    font-weight: normal;
}

@font-face {
    font-family: "Futura Next Medium";
    src: url(/assets/fonts/FuturaNext-Medium.otf) format("opentype");
    font-style: medium;
    font-weight: normal;
}

@font-face {
    font-family: "Futura Next Medium";
    src: url(/assets/fonts/FuturaNext-MediumOblique.otf) format("opentype");
    font-style: oblique;
    font-weight: normal;
}

@font-face {
    font-family: "Futura Now Script";
    src: url(/assets/fonts/FuturaNowScript-Rg.otf) format('opentype');
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "Futura Now Script";
    src: url(/assets/fonts/FuturaNowScript-Bd.otf) format('opentype');
    font-style: normal;
    font-weight: bold;
}

@font-face {
    font-family: "Futura Now Script";
    src: url(/assets/fonts/FuturaNowScript-Lt.otf) format('opentype');
    font-style: light;
    font-weight: normal;
}

@font-face {
    font-family: "Futura Now Script Extra";
    src: url(/assets/fonts/FuturaNowScript-XLt.otf) format('opentype');
    font-style: light;
    font-weight: normal;
}

@font-face {
    font-family: "Futura Now Script Extra";
    src: url(/assets/fonts/FuturaNowScript-XBd.otf) format('opentype');
    font-style: normal;
    font-weight: bold;
}

@font-face {
    font-family: "Futura Next CN Bold";
    src: url(/assets/fonts/FuturaNextCn-Bold.otf) format('opentype');
    font-style: normal;
    font-weight: bold;
}

@font-face {
    font-family: "Futura Next CN Bold";
    src: url(/assets/fonts/FuturaNextCn-BoldOblique.otf) format('opentype');
    font-style: oblique;
    font-weight: bold;
}

@font-face {
    font-family: "Futura Next CN Medium";
    src: url(/assets/fonts/FuturaNextCn-Medium.otf) format('opentype');
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "Futura Next CN Medium";
    src: url(/assets/fonts/FuturaNextCn-MediumOblique.otf) format('opentype');
    font-style: oblique;
    font-weight: normal;
}

@font-face {
    font-family: "Futura Now Headline";
    src: url(/assets/fonts/FuturaNowHeadline-Bd.otf) format('opentype');
    font-style: normal;
    font-weight: bold;
}

@font-face {
    font-family: "Apex Lake Regular";
    src: url(/assets/fonts/ApexLakeRegular.TTF) format('truetype');
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "Old English Text MT";
    src: url(/assets/fonts/OldEnglish.TTF) format('opentype');
    font-style: normal;
    font-weight: normal;
}