body {
  background-color: black;
  font-family: "Futura Next Medium";
  font-style: medium;
  font-weight: normal;
}

.wrapper {
  margin: 10px;
  padding: 5px;
}

.title-logo {
  display: flex;
  flex-direction: column;
  width: max-content;
  height: max-content;
  align-items: center;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
}

.container {
  width: 100%;
  height: 100%;
  background-color: black;
}

.title-bg-container {
  height: auto;
}

.title-logo-img {
  width: 500px;
  height: auto;
  animation: pulse 7s ease-in-out infinite;
}

.title-blocks {
  font-family: "Comet Negative";
  font-size: 9em;
  /*right: 15px;*/
  position: relative;
  line-height: 0.8;
  letter-spacing: -0.15em;
  margin-top: 0px;
  margin-bottom: 0px;
}

.jittery span {
  animation: jitter 200ms linear infinite;
  display: inline-block;
}

@keyframes jitter {
  50% {
    transform: translate(0.5%, 0.5%) rotate(3deg);
  }
}

#background-video {
  z-index: -1;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  width: 100%;
}

.nav-links > ul {
  display: flex;
  list-style: none;
  padding: 0;
}

.nav-links > ul > li {
  padding-left: 20px;
  padding-right: 20px;
  font-family: "Futura";
  color: #fff8e7;
}

.nav-links > ul > li > a {
  color: #fff8e7;
  filter: drop-shadow(3px 3px 3px black);
}

.nav-links > ul > li > a:hover > span.jittery {
  animation: jitter 200ms linear infinite;
  display: inline-block;
}

.main-content {
  max-width: 100%;
}

@keyframes pulse {
  50% {
    filter: drop-shadow(2px 2px 10px white);
  }
}

.uki-ftr-collab-equation {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.uki-ftr-collab-equation > p {
  font-family: "Futura Next Extra Bold";
  font-size: 30px;
  padding: 0 12px;
  font-style: bold;
  color: beige;
}

a.uki-ftr-atr-link {
  height: fit-content;
}

.uki-cc {
  width: max-content;
  position: absolute;
  bottom: 0px;
  padding: 15px;
}

.uki-ftr-info > p {
	font-family: "Futura Next Light";
	font-style: light;
	color: beige;
}

.uniwki-footer-version-container {
	position: absolute;
}

.uki-ftr-vers {
	position: fixed;
	right: 0;
	z-index: 999;
	bottom: 0;
}

.uki-ftr-vers > p {
	margin: 0;
	filter: drop-shadow(2px 2px 0px rgb(84, 11, 102));
	font-family: "02.10ital";
	color: goldenrod;
	font-size: 18px;
	font-variant: petite-caps;
	margin-right: 10px;
}

.uki-footer-credits {
	background-image: linear-gradient(#000, rgb(43, 43, 43));
	background-color: rgb(43, 43, 43);
	padding: 65px 0px;
	position: relative;
	z-index: 15;
}

.title-introduction {
	height: 100vh;
	width: auto;
}

.character-introductions {
	margin: 80px auto;
	max-width: 800px;
}

.character-headline {
	font-family: "Archer Pro Medium";
	font-style: normal;
}

.character-description > p,
.character-headline > p {
	color: #fff8e7;
	font-family: "Futura Next Medium";
	font-style: medium;
	font-weight: normal;
}

.character-description {
	margin: auto 15px;
	padding: 20px;
}

.character-profile-card {
	display: flex;
	align-items: center;
	flex-direction: row;
	width: 740px;
	height: 400px;
}

.containerScreen {
	height: 100vh;
	width: 100%;
	overflow: clip;
	position: relative;
}

.layoutComicContainer {
	width: 100%;
	height: auto;
	max-width: 65em;
	margin: 0 auto;
	overflow: clip;
	padding-top: 10em;
}

.layoutComicBG {
	background-image: url(/assets/app/otrmrr/bg/bgTextureScannerTrash-1.jpg),
		url(/assets/app/otrmrr/bg/bgTextureScannerTrash-2.jpg), linear-gradient(180deg, #bedbff, transparent);
	height: 100%;
	width: 100%;
	position: absolute;
	z-index: -1;
	background-color: #111014;
    background-size: cover;
}

.layoutComicPanels {
	display: flex;
	flex-wrap: wrap;
	height: auto;
	max-height: 860px;
	overflow-y: scroll;
	justify-content: space-evenly;
	grid-row-gap: 4em;
	padding: 60px 0;
	align-items: center;
}

.panelBlockContainer {
	position: relative;
	margin-right: 20px;
	width: max-content;
	filter: drop-shadow(15px 15px 0px rgba(20, 13, 10, 0.59));
}

#trapezoidLeft.panelBlockContainer {
	width: 20%;
	height: 200px;
}

#trapezoidRight.panelBlockContainer {
	width: fit-content;
	height: 200px;
}

.panelBorderContainer {
	width: 100%;
	position: relative;
}

#bgView {
	position: absolute !important;
	width: 100%;
	height: 100%;
	z-index: 50;
	pointer-events: none;

}

.panelBorder, .portalMI-border {
	position: absolute;
	border: 1px solid rgba(0, 0, 0, 0);
	border-image-source: url(/assets/app/otrmrr/gui/guiCmcPanelSquare.png);
	width: 100%;
	height: 12em;
	border-image-slice: 27 27 27 27;
	border-image-width: 15px 15px 15px 15px;
	border-image-outset: 5;
	border-image-repeat: stretch stretch;
	box-shadow: 0 0 10px 11px inset rgba(0, 0, 0, 0.8);
}

.panelVignettePost {
	width: max-content;
	height: 12em;
	background: #000;
	padding: 2px;
}

#trapezoidLeft.panelVignettePost {
	border: unset;
	clip-path: polygon(0 0, 56% 0, 97% 100%, 0 100%);
	display: inline-block;
	position: relative;
	width: max-content;
	height: 200px;
}

#trapezoidRight.panelVignettePost {
	border: unset;
	clip-path: polygon(3% 0, 100% 0, 100% 100%, 41% 100%);
	display: inline-block;
	position: relative;
	width: max-content;
	height: 200px;
}

#rectangle.panelVignettePost {
}

.panelVignetteImage {
	height: 100%;
	width: auto;
}

.panelVignetteIcon {
	width: 27px;
	height: 20px;
	padding: 20px;
	right: 0;
	position: absolute;
	bottom: 0;
	filter: drop-shadow(3px 3px 2px rgba(148, 129, 126, 0.9764705882))
}

#illustration.panelVignetteIcon::before {
	content: "";
	display: block;
	background-image: url("/assets/app/otrmrr/gui/iconIllustration.png");
	height: 20px;
	width: 27px;
	position: absolute;
	background-size: 27px 20px;
}

#dialogue.panelVignetteIcon::before {
	content: "";
	display: block;
	background-image: url("/assets/app/otrmrr/gui/iconDialogue.png");
	height: 30px;
	width: 30px;
	position: absolute;
	background-size: 33px 30px;
}

#conversation.panelVignetteIcon::before {
	content: "";
	display: block;
	background-image: url("/assets/app/otrmrr/gui/iconConvo.png");
	height: 30px;
	width: 30px;
	position: absolute;
	background-size: 33px 30px;
}

#music.panelVignetteIcon::before {
	content: "";
	display: block;
	background-image: url("/assets/app/otrmrr/gui/iconMusic.png");
	height: 30px;
	width: 30px;
	position: absolute;
	background-size: 33px 30px;
}

#film.panelVignetteIcon {
	padding: 20px;
}

#film.panelVignetteIcon::before {
	content: "";
	display: block;
	background-image: url("/assets/app/otrmrr/gui/iconFilm.png");
	height: 30px;
	width: 33px;
	position: absolute;
	background-size: 33px 30px;
}

.panelVignetteBlock {
	border-width: 8px;
	border-color: rgb(70, 70, 70);
	border-style: solid;
	border-radius: 24px;
	background-color: rgb(247, 247, 247);
	width: 500px;
	height: 12em;
	background-image: url(/assets/app/otrmrr/gui/textureBgWhiteStripe.png);
	background-size: cover;
}

.layoutComicPanels::-webkit-scrollbar-thumb {
	border-radius: 10px;
	background: rgb(242, 242, 242);
	border-color: rgb(116, 116, 116);
	width: 20px;
	overflow: unset;
}
.layoutComicPanels::-webkit-scrollbar {
	border-width: 4px;
	border-color: rgb(116, 116, 116);
	border-style: solid;
	background: rgb(35, 35, 35);
}

.layoutComicPanels::-webkit-scrollbar-track {
	background: rgb(0,0,0);
	border: 4px solid transparent;
	background-clip: content-box;
}

.panelDialogueSpeechBubble-Container {
	height: 100%;
    display: flex;
    flex-direction: row;
    width: 500px;
    align-items: center;
}

.panelDialogueProfile {
    width: 200px;
    height: 200px;
    background-color: #d3d3d3;
    position: relative;
    clip-path: circle(40%);
}

.panelDialogueBubble {
    width: 300px;
    margin-left: -70px;
    scale: 0.55;
    transform-origin: center left;
}

#dialogueText {
	font-size: 1.5em;
    width: 450px;
    text-wrap: wrap;
	color: #000;
}

.layoutHeaderLogo {
	margin: 0 auto;
	width: max-content;
	height: 100%;
}

.layoutHeaderNode {
	display: flex;
    flex-direction: column;
    align-items: center;
}

.layoutHeaderNode::after {
    content: '';
    display: inline-block;
    height: 15px;
    width: 95%;
    box-shadow: 0px 5px 10px black;
    z-index: 5;
    position: relative;
}

.layoutComicContainer::after {
    content: '';
    display: block;
    height: 15px;
    width: 95%;
    box-shadow: 0px -5px 10px black;
    z-index: 5;
    position: relative;
}

.panelDialogueActor {
    display: inline-block;
    width: auto;
    height: 100px;
    transform-origin: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}

.layoutPost {
	display: grid;
	grid-template-areas: 'sidebar content';
	grid-template-columns: 260px 1fr;
	grid-template-rows: 100vh;
}

.layoutPostSidebarContainer {
	width: 100%;
    height: 100%;
    position: relative;
}

.layoutPostSidebar {
	grid-area: sidebar;
	width: 100%;
    height: 100%;
    background: lightgrey;
}

.layoutPostSiderbarTitleContainer {
	position: relative;
    height: 100%;
    z-index: 5;
    float: right;
}

.layoutPostSidebarTitle {
	font-family: "Creative Block Negative";
    font-size: 2em;
    color: #fff;
    writing-mode: vertical-rl;
    text-orientation: mixed;
    position: absolute;
    /*right: -40px;*/
    height: auto;
    width: max-content;
    background-color: #7c7c7c;
    padding: 10px;
    font-variant: petite-caps;
}

.layoutPostSidebarTitle::after {
    width: 0;
    height: 0;
    border-top: 60px solid #b8b8b8;
    border-right: 57px solid rgba(0, 0, 0, 0);
    content: "";
    position: absolute;
    left: 0;
    bottom: -60px;
}

.layoutPostSidebaritle-Date {
	font-family: 'Bravecho';
	position: absolute;
	font-style: italic;
	writing-mode: vertical-rl;
    text-orientation: mixed;
	color: goldenrod;
	bottom: 0;
	padding: 10px;
	padding-bottom: 30px;
    right: -25px;
    font-size: 2em;
}

.layoutPostContent {
	grid-area: content;
}

.layoutOpenSeaViewer {
	margin: 0 auto;
	position: relative;
}

.layoutPostMain {
	padding: 20px;
    margin: 0 auto;
    background: grey;
    border: 2px #494949 solid;
    border-radius: 30px;
}

.uiOTRMRR_txtContentContainer {
	position: absolute;
    width: 100%;
    height: 100%;
}

#oz.uiOTRMRR_txtContent {
    position: absolute;
    height: auto;
    width: max-content;
    right: 0;
    z-index: 5;
    display: flex;
    flex-direction: column;
    margin: 10px;
    bottom: 0px;
	text-wrap: balance;
	text-shadow: 0 0 5px #000;
}

#oz.uiOTRMRR_txtContent-Title {
    position: relative;
	top: 40px;
    width: max-content;
    align-self: end;
}

#oz.uiOTRMRR_txtContent-Title > img {
	width: 300px;
	height: auto;
}

#oz.uiOTRMRR_txtContent-Desc {
    height: auto;
    color: #fff8e7;
    line-height: 1.3;
    letter-spacing: 1.3px;
    width: 440px;
    text-align: end;
}


.uiOTRMRR_txtContent-Desc {
	position: relative;
	width: 500px;
}


#otto.uiOTRMRR_txtContent-Desc {
    width: 600px;
    height: auto;
    line-height: 1.25;
}

#otto.uiOTRMRR_txtContent-Desc > p::first-letter {
	font-family: "Anglican Text";
    font-size: 4.5rem;
    float: left;
    padding-right: 10px;
    font-style: normal;
    font-weight: normal;
    margin-top: -12px;
}

#oz.uiOTRMRR_txtContent-Desc > p::first-letter {
	font-family: "Anglican Text";
    font-size: 4.5rem;
    font-style: normal;
    font-weight: normal;
    margin-top: -23px;
    float: left;
}


#otto.uiOTRMRR_txtContent {
    height: auto;
    width: max-content;
    color: #fff8e7;
    display: flex;
    flex-direction: row;
    text-shadow: 0 0 5px #000;
    align-items: center;
    margin: 10px;
	text-wrap: balance;
}

#otto.uiOTRMRR_txtContent-Title {
    height: 100%;
    width: max-content;
}

#otto.uiOTRMRR_txtContent-Title > img {
	width: 200px;
	height: auto;
}

#blurb.uiOTRMRR_txtContent-Desc {
	color: gold;
    text-shadow: 2px 2px 1px brown;
	font-style: italic;
	font-family: "Futura Now Script";
	font-weight: bold;
	height: max-content;
	text-align: center;
	width: 400px;
	text-wrap: balance;
	text-justify: distribute;
}


#title.uiOTRMRR_txtContent {
    width: max-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: fit-content;
	z-index: 10;
}

#title.uiOTRMRR_txtContent-Title {
	background: linear-gradient(180deg, rgb(255, 255, 255) 0%, rgb(255, 255, 255) 45%, rgb(244, 244, 244) 45%, rgb(86, 52, 239) 1%, rgb(203, 203, 249) 60%);
    color: #00000000;
    background-clip: text;
    mix-blend-mode: overlay;
	filter: drop-shadow(0 0 3px #7155ff);	
}

#title.uiOTRMRR_txtContent-Title > h1 {
	font-family: "Creative Block Negative";
	//color: rgb(205, 205, 255);
}

.gradientCleanSlate {
	}

.uiOTRMRR_charSpriteActor {
	height: 100%;
	width: 100%;
}

.uiOTRMRR_charSpriteActor > img {
	width: 100vw;
	position: absolute;
}

#bgFutureHaze.uiOTRMRR_bgVisualizer {
	z-index: -1;
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	margin: auto;
	filter: contrast(107%) hue-rotate(-3deg) opacity(0.89) brightness(1.4);
}

.uiOTRMRR_charSpriteScene {
	pointer-events: none;
	height: 100%;
}

.sceneWorksView_Shelf {
	width: 100%;
	height: 100%;
	position: relative;
}

.scnWorks-ObjBookcase {
	width: 80em;
	height: 50em;
	background-color: #000;
	display: flex;
	flex-direction: column;
	margin: auto;
	//position: absolute;
	//top: 0;
	//bottom: 0;
	//right: 0;
	//left: 0;
	overflow-y: scroll;
}

.scnWorksBookcaseSection {
	margin: 10px;
	padding: 20px;
	height: auto;
}

.scnWorks_ObjBookcaseRow {
	display: flex;
	flex-direction: row;
	height: auto;
	width: auto;
	background-color: #494949;
	margin: 20px;
}
    
.objOmnibusCase {
	width: 200px;
	height: auto;
}

.scnWrks_ObjBookcasePlaque {
	height: max-content;
	width: max-content;
	padding: 10px 35px;
	background-image: linear-gradient(180deg, #ffffff 40%, #c0c0c0 80%);
	box-sizing: border-box;
	margin: auto;
	position: relative;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	border-image: url("/assets/app/otrmrr/gui/guiDiaBoxScrew.png");
	border-image-slice: 60 60 60 60;
	border-image-width: 20px 20px 20px 20px;
	border-image-outset: 0px 0px 0px 0px;
	border-image-repeat: stretch stretch; 
	border-radius: 20px;
}

.scnWorks-ObjOmniopus {
	display: flex;
	flex-direction: row;
}

.objOmnibusCase {
	width: 200px;
	height: auto;
	margin-right: 1.5em;
}

.sceneContact {
	width: 100%;
	height: 100%;
}

.scnContact-ObjectComissionBoard {
	position: absolute;
	width: 34rem;
	height: auto;
	z-index: 2;
	rotate: 5deg;
	right: 83px;
	top: 100px;
	filter: drop-shadow(20px -10px 17px #1a0000);
}

.scnContact-ObjectTypewritter {
	position: absolute;
	width: 34rem;
	height: auto;
	z-index: 12;
	rotate: -15deg;
	left: 83px;
	top: 100px;
	filter: drop-shadow(0 -10px 17px #1a0000);
}

.sceneContactView_Flatlay {
	position: relative;
	width: 100%;
	height: 100%;
}

.scnContactView_ContactTable {
	width: 200%;
	height: 100%;
	position: absolute;
	margin: auto;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: -1;
}

.sceneContactView_TypewritterGUI, .sceneContactView_ComissionBoardGUI {
    position: absolute;
    height: 100vh;
    width: 100%;
    background-color: #00000000;
}

.sceneContactView_Typewritter {
    position: relative;
    width: 100%;
    height: 100%;
    top: 50px;
}

.sceneContactView_ComissionBoard {
    position: relative;
    width: 100%;
    height: 100%;
}

.sCType-ObjPaper {
    background-color: #fff8e7;
    max-width: 40em;
    height: 400px;
    position: absolute;
    margin: auto;
    top: -9px;
    left: 0;
    right: 0;
    z-index: 5;
    background-image: linear-gradient(0deg, #e7bea0, transparent);
    bottom: auto;
    overflow-y: scroll;
	border-top: 2px solid #3f1702;
    border-left: 2px solid #3f1702;
    border-right: 2px solid #3f1702;
}

.sCType-ObjTypewritterMain {
    position: absolute;
    margin: auto;
    top: 50em;
    left: 0;
    right: 0;
    bottom: 0;
    width: 58em;
    height: max-content;
}



.sCType-ObjComissionBoard {
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 48em;
    height: max-content;
}

.sCType-ObjPaperContent {
    padding: 30px;
    color: saddlebrown;
}

.sceneContactView_TextContent {
    position: absolute;
    width: 150px;
    font-size: 6px;
    color: #fff8e7;
    margin-left: 20px;
    top: 180px;
}

.menuWindowAction::before {
	display: block;
	content: '❌';
	width: 30px;
	height: 30px;
}

.menuWindowAction {
	position: fixed;
	z-index: 20;
	top: 10px;
	right: 10px;
}

.scnContact-PotraitPhoto {
    position: absolute;
    width: 10rem;
    height: auto;
    z-index: 4;
    rotate: 19deg;
    left: 520px;
    top: 100px;
}

.scnContact-InkBottle {
    position: absolute;
    width: 8rem;
    height: auto;
    z-index: 5;
    left: 700px;
    top: 240px;
    filter: drop-shadow(5px -10px 17px #1a0000);
}

#one.scnContact-ObjMail {
    position: absolute;
    width: 24rem;
    height: auto;
    z-index: 4;
    rotate: 8deg;
    left: 460px;
    top: 640px;
}

#two.scnContact-ObjMail {
    position: absolute;
    width: 24rem;
    height: auto;
    z-index: 4;
    rotate: 15deg;
    left: 560px;
    top: 640px;
}

#three.scnContact-ObjMail {
    position: absolute;
    width: 24rem;
    height: auto;
    z-index: 3;
    rotate: 0deg;
    left: 360px;
    top: 540px;
}

.textSplashWIP {
    position: absolute;
    max-width: max-content;
    right: 0;
    bottom: -7px;
	z-index: 1;
}

span#textSplash::before {
    font-weight: bold;
    content: "W.I.P";
    font-size: 15px;
    font-family: "Futura Now Script";
    color: #daa520;
    position: relative;
    rotate: 340deg;
    display: block;
}

.decoEternal {
	position: absolute;
	margin: auto;
	z-index: 20;
}

#topEternalHeader.decoEternal {
	top: 10px;
	left: 0;
	right: 0;
	width: 300px;
}

#bottomEternalHeader.decoEternal {
	bottom: 10px;
	left: 0;
	right: 0;
	width: 300px;
	rotate: 180deg;
}

#leftEternalSeparator.decoEternal {
	top: 0;
	left: 0;
	bottom: 0;
    height: max-content;
    width: 50px;
}

#rightEternalSeparator.decoEternal {
	top: 0;
	bottom: 0;
	right: 0;
    height: max-content;
    width: 50px;
	rotate: 180deg;
}

.vfxLayerGlow {
	width: 100%;
	height: 100%;
	position: absolute;
}

#FG.vfxLayerGlow {
	top: 300px !important;
	mix-blend-mode: hard-light;
	background-image: linear-gradient(0deg, #1879ff, transparent);
	z-index: 2;
}

#BG.vfxLayerGlow {
	mix-blend-mode: hard-light;
	background-image: linear-gradient(0deg, #010e3a, transparent);
	z-index: -1;
}

a:visited > span.jittery {
	color: #18ecff;
	filter: drop-shadow(2px 2px 0px #47008e);
}

#textAspira {
	position: absolute;
	font-family: 'Bravecho';
	font-size: 4em;
	color: goldenrod;
}

.letter {
	opacity: 0;
	//transform-origin: 0 100%;
	//display: inline-block;
	/*line-height: 1em;*/
}

.objSpeechBubble {
    position: absolute;
    width: max-content;
    z-index: 30;
	transform-origin: bottom left;
}

#oz.objSpeechBubble {
    right: 520px;
    top: 200px;
	transform-origin: bottom right;
}

#otto.objSpeechBubble {
    left: 420px;
    top: 200px;
}

.sceneActorGroup {
	position: relative;
}

#otto.objSpeechBubble[data-dialogue-id="10"] {
	right: 400px;
	left: unset;
	top: 200px;
	position: absolute;
}


.objSpeechBubbleText, .objSpeechBubbleTextAddendum {
	border: 20px solid transparent;
    border-image: url(/assets/app/otrmrr/res/objBubbleSpeechHead.svg);
	border-image-slice: 27;
	border-image-width: 27px;
	background-color: #e5e5e5;
	border-image-repeat: stretch;
    width: 16em;
    height: auto;
    text-wrap: balance;
    box-sizing: border-box;
    background-clip: content-box;
    line-height: 1.3;
    text-align: center;
}

.objSpeechBubbleText > p {
	filter: drop-shadow(0px 2px 0 white);
}

.objSpeechBubbleNametag {
	position: absolute;
	left: 50px;
	top: -10px;
	width: max-content;
	height: auto;
	font-size: 1em;
	font-family: 'Creative Block Negative';
	font-variant-caps: small-caps;
	padding: 0 10px;
	background-color: white;
	outline: 2px solid black;
	filter: drop-shadow(4px 4px 0 #0000004c);
}

.objSpeechBubbleNametag > p {
	margin: 0;
}

.objSpeechBubbleText::after {
	content: "";
    display: block;
    position: absolute;
    bottom: 5px;
    left: 2px;
    width: 2em;
    height: 26px;
    background-image: url(/assets/app/otrmrr/res/objBubbleSpeechTail.svg);
    z-index: -2;
}

#oz.objSpeechBubbleText::after {
	transform: scale(-1, 1);
	left: unset;
	right: 5px;
	bottom: 0;
}

.nav-links > .menuOption > li {
	position: relative;
	transform-origin: left bottom;
}


.pageOmnitome {
	width: 45em;
	height: 100vh;
	background-color: #eccfc0;
	border: #f2dace 1px solid;
}

.pageOmnitome:nth-child(odd) {
	background-image: linear-gradient(-90deg, rgba(255, 255, 255, 0) 85%, rgba(180, 133, 110, 0.4784313725) 100%),linear-gradient(90deg, rgba(255, 255, 255, 0) 50%, rgba(180, 133, 110, 0.4784313725) 100%)
}

.pageOmnitome:nth-child(even) {
	background-image: linear-gradient(90deg, rgba(255,255,255,0) 85%, #b4856e7a 100%), linear-gradient(-90deg, rgba(255,255,255,0) 50%, #b4856e7a 100%);

}

.containerContentOmnitome {
	margin: 0 6em;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	row-gap: 8em;
}

.sceneOmnitome {
	width: 100%;
	height: 100vh;
	z-index: 30;
	position: absolute;
	background-color: #000000b2;
	overflow-y: scroll;
}

.containerOmnitome { 
	width: 100%;
	height: 100%;
	//display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.coverOmnitome {
	width: 60em;
	margin: auto;
	height: max-content;
}

.contentOmnitome {
	padding: 0 40px ;
	line-height: 2;
	margin: 0 20px;
	text-wrap: balance;
	max-width: 28em;
	color: #3b1303;
}

.contentOmnitome > p {
	filter: drop-shadow(0 1px 0 #fff8e7);
	font-size: 0.85em;
}

.contentOmnitome > h1 {
	font-family: 'ITC Avant Garde Gothic Pro';
	font-variant: small-caps;
	margin-bottom: 0;
}

.visualizerVinylPlayer {
	height: auto;
	width: 600px;
	filter: drop-shadow(0 2px 0 #fff8e7);
}

#synopsis.contentOmnitome {
	width: 820px;
}

.pageOmnitome::before {
	display: block;
	width: 98em;
	height: 100%;
	background-color: #8d040a;
	content: '';
	z-index: -35;
	position: absolute;
	margin: auto;
	left: 0;
	right: 0;
	border: 4px solid #480808;
}

.visualizerModuleController {
	display: grid;
	grid-template-areas:
  "name stop prev play next";
	grid-template-columns: auto 50px 50px 50px 50px;
	grid-template-rows: 50px;
	border: 2px solid #cca997;
	background-color: #fffbf3;
	border-radius: 14px;
	align-items: center;
	justify-items: center;
}

.vizButton {
	display: block;
	width: 50px;
	height: 50px;
	font-size: 1.5em;
}

#stop.vizButton::before {
	content: '⏹';
	margin: auto;
	display: inline-block;
}

#prev.vizButton::before {
	content: '⏮';
}

#play.vizButton::before {
	content: '▶';
}

#next.vizButton::before {
	content: '⏭';
}

.visualizerPortableCDScreen {
	width: 600px;
	height: 340px;
	background-color: #dcdcdc;
}

.visualizerPortableCDControl {
	width: 600px;
	height: 340px;
	background-color: lightgray;
}

.visualizerPortableCD {
	width: 300px;
	height: auto;
	margin: auto;
	top: 15px;
	bottom: 0;
	position: relative;
	right: 0;
}

.portalMultimediaInteractive {
	position: relative;
	width: 600px;
	height: 700px;
}

.portalMI-contentObj {
	height: auto;
	width: 50%;
}

.portalMI-contentBG {
	background-size: cover;
	height: 700px;
	width: 600px;
	transform-origin: bottom center;
}

.portalBGMass {
	background-color: #0a0024;
	position: absolute;
	width: 100%;
	height: 100%;
}

#EGO.portalMI-contentBG {
	background-image: url("/assets/app/otrmrr/bg/tileEGO.png");
	background-repeat: repeat-x;
	image-rendering: pixelated;
}

#title.portalMI-contentObj {
	height: fit-content;
	width: 50%;
}

.portalMI-contentObj {
	position: absolute;
	margin: auto;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

.portalMI-border {
	height: 700px;
}

.portalTitleBackdrop {
	width: 480px;
	height: 480px;
	position: absolute;
	margin: auto;
	background-color: #0d001f;
	left: 0;
	top: 0;
	bottom: 0;
	right: 0;
	filter: blur(50px);
	mix-blend-mode: hard-light;
}

.starburst {
	width: 200px; /* adjust to control the size */
	aspect-ratio: 1;
	clip-path: polygon(100% 50%,85.69% 54.7%,98.3% 62.94%,83.26% 63.78%,93.3% 75%,78.56% 71.92%,85.36% 85.36%,71.92% 78.56%,75% 93.3%,63.78% 83.26%,62.94% 98.3%,54.7% 85.69%,50% 100%,45.3% 85.69%,37.06% 98.3%,36.22% 83.26%,25% 93.3%,28.08% 78.56%,14.64% 85.36%,21.44% 71.92%,6.7% 75%,16.74% 63.78%,1.7% 62.94%,14.31% 54.7%,0% 50%,14.31% 45.3%,1.7% 37.06%,16.74% 36.22%,6.7% 25%,21.44% 28.08%,14.64% 14.64%,28.08% 21.44%,25% 6.7%,36.22% 16.74%,37.06% 1.7%,45.3% 14.31%,50% 0%,54.7% 14.31%,62.94% 1.7%,63.78% 16.74%,75% 6.7%,71.92% 21.44%,85.36% 14.64%,78.56% 28.08%,93.3% 25%,83.26% 36.22%,98.3% 37.06%,85.69% 45.3%);
}

#release.starburst {
	background-image: linear-gradient(goldenrod, rgb(198, 124, 14));
	position: absolute;
	z-index: 5;
	right: -50px;
	top: -50px;
}

.starburstText {
	margin: auto;
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
	width: fit-content;
	height: fit-content;
	font-size: 1.2em;
	counter-reset: #fff8e7;
	filter: drop-shadow(0 2px 0 goldenrod);
}


@keyframes flicker {
	0% {opacity: 0.27861;}
	5% {opacity: 0.34769;}
	10% {opacity: 0.23604;}
	15% {opacity: 0.90626;}
	20% {opacity: 0.18128;}
	25% {opacity: 0.83891;}
	30% {opacity: 0.65583;}
	35% {opacity: 0.67807;}
	40% {opacity: 0.26559;}
	45% {opacity: 0.84693;}
	50% {opacity: 0.96019;}
	55% {opacity: 0.08594;}
	60% {opacity: 0.20313;}
	65% {opacity: 0.71988;}
	70% {opacity: 0.53455;}
	75% {opacity: 0.37288;}
	80% {opacity: 0.71428;}
	85% {opacity: 0.70419;}
	90% {opacity: 0.7003;}
	95% {opacity: 0.36108;}
	100% {opacity: 0.24387;}
}

.portalMI-contentFG {
	width: 100%;
	height: 100%;
	position: absolute;
}

#overlay_dimlights {
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 3;
	content: "";
	box-shadow: inset 0 0 20px #000;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}

#overlay_raster {
	/*background: rgba(0, 0, 0, 0.5) url(/assets/app/uniwki/system-ui/gui/gui_uniwki-screen_Raster-Scan.png) repeat;*/
	/*content: " ";*/
	/*display: block;*/
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background: linear-gradient(rgba(18, 16, 16, 0) 50%, rgba(0, 0, 0, 0.25) 50%), linear-gradient(90deg, rgba(255, 0, 0, 0.06), rgba(0, 255, 0, 0.02), rgba(0, 0, 255, 0.06));
	z-index: 0;
	background-size: 100% 8px, 4px 100%;
	pointer-events: none;
	filter: invert(1);
	opacity: .5;
}

/*This adds a "flickering screen" effect*/
#overlay_raster-vfx {
	/*content: " ";*/
	/*display: block;*/
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background: rgba(18, 16, 16, 0.1);
	opacity: 0;
	z-index: 1;
	pointer-events: none;
	animation: flicker 0.15s infinite;
}

.objExpansionDisk {
	width: 15em;
	height: auto;
	position: relative;
	filter: drop-shadow(0 2px 0 #fff8e7);
}

.objExpansionDisk > p {
	position: absolute;
	margin: 0 auto;
	left: 0;
	right: 0;
	text-align: center;
	text-wrap: balance;
	width: 50%;
}

.containerExpansionDiskDrive {
	flex-direction: row;
	flex-wrap: wrap;
	width: 640px;
	max-height: 560px;
	overflow-y: scroll;
	display: flex;
	row-gap: 2em;
	column-gap: 3em;
}

.sceneOmnibusLibrary {
	position: relative;
	width: 100%;
	height: 100%;
	overflow-y: scroll;
}

.objActorOtto {
	position: relative;
	margin: 0 auto;
	width: 50%;
	height: auto;
	margin-bottom: -340px;
	z-index: -1;
	transform-origin: center bottom;
}

#otto.objSpeechBubbleTextAddendum[data-dialogue-id="10.2"] {
	left: 100px;
	position: absolute;
	bottom: -105px;
	width: 50%;
}

.containerLongform {
	margin: 0 auto;
	width: 60em;
	padding: 10em;
}

.titleLongform > h1 {
	color: goldenrod;
	font-family: 'ITC Avant Garde Gothic Pro';
	font-variant: small-caps;
	margin-bottom: 0;
}

.contentLongform {
	color: #fff8e7;
	width: 100%;
}

