body {
  background-color: black;
  font-family: "Futura Next Medium";
  font-style: medium;
  font-weight: normal;
}

.wrapper {
  margin: 10px;
  padding: 5px;
}

.title-logo {
  display: flex;
  flex-direction: column;
  width: max-content;
  height: max-content;
  align-items: center;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
}

.container {
  width: 100%;
  height: 100%;
  background-color: black;
}

.title-bg-container {
  height: auto;
}

.title-logo-img {
  width: 500px;
  height: auto;
  animation: pulse 7s ease-in-out infinite;
}

.title-blocks {
  font-family: "Comet Negative";
  font-size: 9em;
  /*right: 15px;*/
  position: relative;
  line-height: 0.8;
  letter-spacing: -0.15em;
  margin-top: 0px;
  margin-bottom: 0px;
}

.jittery span {
  animation: jitter 200ms linear infinite;
  display: inline-block;
}

@keyframes jitter {
  50% {
    transform: translate(0.5%, 0.5%) rotate(3deg);
  }
}

#background-video {
  z-index: -1;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  width: 100%;
}

.nav-links > ul {
  display: flex;
  list-style: none;
  padding: 0;
}

.nav-links > ul > li {
  padding-left: 20px;
  padding-right: 20px;
  font-family: "Futura";
  color: #fff8e7;
}

.nav-links > ul > li > a {
  color: #fff8e7;
  filter: drop-shadow(3px 3px 3px black);
}

.nav-links > ul > li > a:hover > span.jittery {
  animation: jitter 200ms linear infinite;
  display: inline-block;
}

.main-content {
  max-width: 100%;
}

@keyframes pulse {
  50% {
    filter: drop-shadow(2px 2px 10px white);
  }
}

.uki-ftr-collab-equation {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.uki-ftr-collab-equation > p {
  font-family: "Futura Next Extra Bold";
  font-size: 30px;
  padding: 0 12px;
  font-style: bold;
  color: beige;
}

a.uki-ftr-atr-link {
  height: fit-content;
}

.uki-cc {
  width: max-content;
  position: absolute;
  bottom: 0px;
  padding: 15px;
}

.uki-ftr-info > p {
	font-family: "Futura Next Light";
	font-style: light;
	color: beige;
}

.uniwki-footer-version-container {
	position: absolute;
}

.uki-ftr-vers {
	position: fixed;
	right: 0;
	z-index: 999;
	bottom: 0;
}

.uki-ftr-vers > p {
	margin: 0;
	filter: drop-shadow(2px 2px 0px rgb(84, 11, 102));
	font-family: "02.10ital";
	color: goldenrod;
	font-size: 18px;
	font-variant: petite-caps;
	margin-right: 10px;
}

.uki-footer-credits {
	background-image: linear-gradient(#000, rgb(43, 43, 43));
	background-color: rgb(43, 43, 43);
	padding: 65px 0px;
	position: relative;
	z-index: 15;
}

.title-introduction {
	height: 100vh;
	width: auto;
}

.character-introductions {
	margin: 80px auto;
	max-width: 800px;
}

.character-headline {
	font-family: "Archer Pro Medium";
	font-style: normal;
}

.character-description > p,
.character-headline > p {
	color: #fff8e7;
	font-family: "Futura Next Medium";
	font-style: medium;
	font-weight: normal;
}

.character-description {
	margin: auto 15px;
	padding: 20px;
}

.character-profile-card {
	display: flex;
	align-items: center;
	flex-direction: row;
	width: 740px;
	height: 400px;
}

.containerScreen {
	height: 100vh;
	width: 100%;
	overflow: clip;
	position: relative;
}

.layoutComicContainer {
	width: 100%;
	height: auto;
	max-width: 65em;
	margin: 0 auto;
	overflow: clip;
	padding-top: 10em;
}

.layoutComicBG {
	background-image: url(/assets/app/otrmrr/bg/bgTextureScannerTrash-1.jpg),
		url(/assets/app/otrmrr/bg/bgTextureScannerTrash-2.jpg), linear-gradient(180deg, #bedbff, transparent);
	height: 100%;
	width: 100%;
	position: absolute;
	z-index: -1;
	background-color: #111014;
    background-size: cover;
}

.layoutComicPanels {
	display: flex;
	flex-wrap: wrap;
	height: auto;
	max-height: 860px;
	overflow-y: scroll;
	justify-content: space-evenly;
	grid-row-gap: 4em;
	padding: 60px 0;
	align-items: center;
}

.panelBlockContainer {
	position: relative;
	margin-right: 20px;
	width: max-content;
	filter: drop-shadow(15px 15px 0px rgba(20, 13, 10, 0.59));
}

#trapezoidLeft.panelBlockContainer {
	width: 20%;
	height: 200px;
}

#trapezoidRight.panelBlockContainer {
	width: fit-content;
	height: 200px;
}

.panelBorderContainer {
	width: 100%;
	position: relative;
}

#bgView {
	position: absolute !important;
	width: 100%;
	height: 100%;
	z-index: 10;
	pointer-events: none;

}

.panelBorder {
	position: absolute;
	border: 1px solid rgba(0, 0, 0, 0);
	border-image-source: url(/assets/app/otrmrr/gui/guiCmcPanelSquare.png);
	width: 100%;
	height: 12em;
	border-image-slice: 27 27 27 27;
	border-image-width: 15px 15px 15px 15px;
	border-image-outset: 5;
	border-image-repeat: stretch stretch;
	box-shadow: 0 0 10px 11px inset rgba(0, 0, 0, 0.8);
}

.panelVignettePost {
	width: max-content;
	height: 12em;
	background: #000;
	padding: 2px;
}

#trapezoidLeft.panelVignettePost {
	border: unset;
	clip-path: polygon(0 0, 56% 0, 97% 100%, 0 100%);
	display: inline-block;
	position: relative;
	width: max-content;
	height: 200px;
}

#trapezoidRight.panelVignettePost {
	border: unset;
	clip-path: polygon(3% 0, 100% 0, 100% 100%, 41% 100%);
	display: inline-block;
	position: relative;
	width: max-content;
	height: 200px;
}

#rectangle.panelVignettePost {
}

.panelVignetteImage {
	height: 100%;
	width: auto;
}

.panelVignetteIcon {
	width: 27px;
	height: 20px;
	padding: 20px;
	right: 0;
	position: absolute;
	bottom: 0;
	filter: drop-shadow(3px 3px 2px rgba(148, 129, 126, 0.9764705882))
}

#illustration.panelVignetteIcon::before {
	content: "";
	display: block;
	background-image: url("/assets/app/otrmrr/gui/iconIllustration.png");
	height: 20px;
	width: 27px;
	position: absolute;
	background-size: 27px 20px;
}

#dialogue.panelVignetteIcon::before {
	content: "";
	display: block;
	background-image: url("/assets/app/otrmrr/gui/iconDialogue.png");
	height: 30px;
	width: 30px;
	position: absolute;
	background-size: 33px 30px;
}

#conversation.panelVignetteIcon::before {
	content: "";
	display: block;
	background-image: url("/assets/app/otrmrr/gui/iconConvo.png");
	height: 30px;
	width: 30px;
	position: absolute;
	background-size: 33px 30px;
}

#music.panelVignetteIcon::before {
	content: "";
	display: block;
	background-image: url("/assets/app/otrmrr/gui/iconMusic.png");
	height: 30px;
	width: 30px;
	position: absolute;
	background-size: 33px 30px;
}

#film.panelVignetteIcon {
	padding: 20px;
}

#film.panelVignetteIcon::before {
	content: "";
	display: block;
	background-image: url("/assets/app/otrmrr/gui/iconFilm.png");
	height: 30px;
	width: 33px;
	position: absolute;
	background-size: 33px 30px;
}

.panelVignetteBlock {
	border-width: 8px;
	border-color: rgb(70, 70, 70);
	border-style: solid;
	border-radius: 24px;
	background-color: rgb(247, 247, 247);
	width: 500px;
	height: 12em;
	background-image: url(/assets/app/otrmrr/gui/textureBgWhiteStripe.png);
	background-size: cover;
}

.layoutComicPanels::-webkit-scrollbar-thumb {
	border-radius: 10px;
	background: rgb(242, 242, 242);
	border-color: rgb(116, 116, 116);
	width: 20px;
	overflow: unset;
}
.layoutComicPanels::-webkit-scrollbar {
	border-width: 4px;
	border-color: rgb(116, 116, 116);
	border-style: solid;
	background: rgb(35, 35, 35);
}

.layoutComicPanels::-webkit-scrollbar-track {
	background: rgb(0,0,0);
	border: 4px solid transparent;
	background-clip: content-box;
}

.panelDialogueSpeechBubble-Container {
	height: 100%;
    display: flex;
    flex-direction: row;
    width: 500px;
    align-items: center;
}

.panelDialogueProfile {
    width: 200px;
    height: 200px;
    background-color: #d3d3d3;
    position: relative;
    clip-path: circle(40%);
}

.panelDialogueBubble {
    width: 300px;
    margin-left: -70px;
    scale: 0.55;
    transform-origin: center left;
}

#dialogueText {
	font-size: 1.5em;
    width: 450px;
    text-wrap: wrap;
	color: #000;
}

.layoutHeaderLogo {
	margin: 0 auto;
	width: max-content;
	height: 100%;
}

.layoutHeaderNode {
	display: flex;
    flex-direction: column;
    align-items: center;
}

.layoutHeaderNode::after {
    content: '';
    display: inline-block;
    height: 15px;
    width: 95%;
    box-shadow: 0px 5px 10px black;
    z-index: 5;
    position: relative;
}

.layoutComicContainer::after {
    content: '';
    display: block;
    height: 15px;
    width: 95%;
    box-shadow: 0px -5px 10px black;
    z-index: 5;
    position: relative;
}

.panelDialogueActor {
    display: inline-block;
    width: auto;
    height: 100px;
    transform-origin: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}

.layoutPost {
	display: grid;
	grid-template-areas: 'sidebar content';
	grid-template-columns: 260px 1fr;
	grid-template-rows: 100vh;
}

.layoutPostSidebarContainer {
	width: 100%;
    height: 100%;
    position: relative;
}

.layoutPostSidebar {
	grid-area: sidebar;
	width: 100%;
    height: 100%;
    background: lightgrey;
}

.layoutPostSiderbarTitleContainer {
	position: relative;
    height: 100%;
    z-index: 5;
    float: right;
}

.layoutPostSidebarTitle {
	font-family: "Creative Block Negative";
    font-size: 2em;
    color: #fff;
    writing-mode: vertical-rl;
    text-orientation: mixed;
    position: absolute;
    /*right: -40px;*/
    height: auto;
    width: max-content;
    background-color: #7c7c7c;
    padding: 10px;
    font-variant: petite-caps;
}

.layoutPostSidebarTitle::after {
    width: 0;
    height: 0;
    border-top: 60px solid #b8b8b8;
    border-right: 57px solid rgba(0, 0, 0, 0);
    content: "";
    position: absolute;
    left: 0;
    bottom: -60px;
}

.layoutPostSidebaritle-Date {
	font-family: 'Bravecho';
	position: absolute;
	font-style: italic;
	writing-mode: vertical-rl;
    text-orientation: mixed;
	color: goldenrod;
	bottom: 0;
	padding: 10px;
	padding-bottom: 30px;
    right: -25px;
    font-size: 2em;
}

.layoutPostContent {
	grid-area: content;
}

.layoutOpenSeaViewer {
	margin: 0 auto;
	position: relative;
}

.layoutPostMain {
	padding: 20px;
    margin: 0 auto;
    background: grey;
    border: 2px #494949 solid;
    border-radius: 30px;
}

.uiOTRMRR_txtContentContainer {
	position: absolute;
    width: 100%;
    height: 100%;
}

#oz.uiOTRMRR_txtContent {
	position: absolute;
	height: auto;
	width: max-content;
	right: 0;
	z-index: 5;
	bottom: 100px;
	display: flex;
	flex-direction: row-reverse;
}

#oz.uiOTRMRR_txtContent-Title {
	//width: 100%;
	//height: max-content;
	transform: rotate(270deg);
	position: absolute;
	//right: 70px;
	//bottom: -70px;
	bottom: 40px;
}

#oz.uiOTRMRR_txtContent-Title > img {
	width: 300px;
	height: auto;
}


.uiOTRMRR_txtContent-Desc {
	position: relative;
	width: 500px;
}

#oz.uiOTRMRR_txtContent-Desc {
	writing-mode: sideways-lr;
	width: max-content;
	height: 350px;
	color: gold;
	text-shadow: 2px -2px 1px brown;
	line-height: 1.3;
	letter-spacing: 1.3px;
}

#otto.uiOTRMRR_txtContent-Desc {
	text-orientation: mixed;
	writing-mode: sideways-rl;
	width: auto;
	height: 330px;
	line-height: 1.25;
}


#otto.uiOTRMRR_txtContent {
	position: absolute;
	height: auto;
	width: max-content;
	left: 5px;
	z-index: 5;
	top: 5px;
	color: white;
	display: flex;
	flex-direction: column;
	text-shadow: 0 0 5px black;
}

#otto.uiOTRMRR_txtContent-Title {
	height: 100%;
	width: 100%;
}

#otto.uiOTRMRR_txtContent-Title > img {
	width: 200px;
	height: auto;
}

#blurb.uiOTRMRR_txtContent-Desc {
	color: #e5f6f5;
	font-style: italic;
	font-family: "Futura Now Script";
	font-weight: bold;
	margin: auto;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	position: absolute;
	height: max-content;
	text-align: center;
	width: 400px;
	text-wrap: balance;
	text-justify: distribute;
}

.uiOTRMRR_charSpriteActor > img {
	height: auto;
	width: 100vw;
	position: absolute;
}

#bgFutureHaze.uiOTRMRR_bgVisualizer {
	z-index: -1;
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	margin: auto;
	filter: contrast(107%) hue-rotate(-3deg) opacity(0.89) brightness(1.4);
}

.uiOTRMRR_charSpriteScene {
	pointer-events: none;
}

.sceneWorksView_Shelf {
	width: 100%;
	height: 100%;
	position: relative;
}

.scnWorks-ObjBookcase {
	width: 80em;
	height: 50em;
	background-color: #000;
	display: flex;
	flex-direction: column;
	margin: auto;
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	overflow-y: scroll;
}

.scnWorksBookcaseSection {
	margin: 10px;
	padding: 20px;
	height: auto;
}

.scnWorks_ObjBookcaseRow {
	display: flex;
	flex-direction: row;
	height: auto;
	width: auto;
	background-color: #494949;
	margin: 20px;
}
    
.objOmnibusCase {
	width: 200px;
	height: auto;
}

.scnWrks_ObjBookcasePlaque {
	height: max-content;
	width: max-content;
	padding: 10px 35px;
	background-image: linear-gradient(180deg, #ffffff 40%, #c0c0c0 80%);
	box-sizing: border-box;
	margin: auto;
	position: relative;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	border-image: url("/assets/app/otrmrr/gui/guiDiaBoxScrew.png");
	border-image-slice: 60 60 60 60;
	border-image-width: 20px 20px 20px 20px;
	border-image-outset: 0px 0px 0px 0px;
	border-image-repeat: stretch stretch; 
	border-radius: 20px;
}

.scnWorks-ObjOmniopus {
	display: flex;
	flex-direction: row;
}

.objOmnibusCase {
	width: 200px;
	height: auto;
	margin-right: 1.5em;
}