<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
  {% include globalVars.html %}
  <body>
    <div class="wrapper">
      <main>
        <div class="containerScreen">
          <div class="layoutComicGrain" id="bgView"></div>
          <div class="layoutComicBG"></div>
          {{ content }}
        </div>
      </main>
    </div>
    <footer>
      {% include footer.html %}
    </footer>
  </body>
  <script>
    var options = {
        animate: true,
        patternWidth: 100,
        patternHeight: 100,
        grainOpacity: 0.05,
        grainDensity: 1,
        grainWidth: 1,
        grainHeight: 1
    };

    grained('#bgView',options)

  </script>
</html>