---
layout: default
---

<div class="layoutPostContainer">
    <div class="layoutPost">
        <div class="layoutPostSidebarContainer">
            <div class="layoutPostSiderbarTitleContainer">
                <div class="layoutPostSidebarTitle">{{page.title}}</div>
                <div class="layoutPostSidebaritle-Date">{{page.date | date: "%m %d ' %y" }}</div>
            </div>
            
            <div class="layoutPostSidebar"></div>
        </div>
        <div class="layoutPostContent">
            <div class="layoutOpenSeaViewer" id="imageViewer" style= "width: 900px; height: 720px;">

            </div>
            <div class="layoutPostMain">
                {{ content }}
            </div>
        </div>
    </div>
</div>

<script>
    var viewer = OpenSeadragon({
        id: "imageViewer",
        prefixUrl: "/assets/global/js/images/",
        tileSources: {
            type: 'image',
            url: "/assets/app/otrmrr/artwork/illustration/{{ page.postMeta.artworkSrc }}"
        }
    });
</script>